.c-container {
  width: auto;
  height: auto;
}

.carousel-container {
  width: 100vw;
  height: 140vh;
  padding-top: 40px;
  position: relative;
  overflow: hidden;
}

.content {
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.c-container h1 {
  text-align: center;
  color: yellow;
  font-size: 24px;
  margin-bottom: 10px;
}

.c-container p {
  text-align: center;
  color: whitesmoke;
  font-size: 16px;
  line-height: 1.6;
}

.carousel {
  display: flex;
  animation: carousel-animation 20s linear infinite; 
  width: fit-content;
}

.carousel2 {
  margin-top: 5rem;
  display: flex;
  animation: carousel-animation2 20s linear infinite; 
  width: fit-content;
}

@keyframes carousel-animation {
  from {
    transform: translateX(-75%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes carousel-animation2 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-75%);
  }
}

.box {
  position: relative;
  width: 300px;
  height: 250px;
  overflow: hidden;
  border-radius: 20px;
  z-index: 10;
  object-fit: cover; 
  justify-content: center;
  align-items: center;
}

.box-wrapper {
  position: relative;
  display: inline-block;
  margin-left: 25px;
  margin-right: 25px;
  z-index: 10;
  object-fit: cover; 
  justify-content: center;
  align-items: center;
}

.carousel-image, .carousel-video {
  border-radius: 20px;
  width: 300px; 
  max-height: 300px; 
  display: flex;
  overflow: hidden;
  object-fit: cover; 
}

.box-wrapper::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -1px;
  right: -1px;
  bottom: -2px;
  z-index: -1;
}

.box-wrapper::after {
  content: '';
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  position: absolute;
  background: #fff;
  z-index: -2;
}

.box-wrapper:nth-child(odd):before,
.box-wrapper:nth-child(odd):after {
  background: linear-gradient(235deg, #89ff00, #222, #00bcd4);
  filter: blur(10px); 
}

.box-wrapper:nth-child(even):before,
.box-wrapper:nth-child(even):after {
  background: linear-gradient(235deg, #ff005e, #222, #00bcd4);
  filter: blur(10px); 
}


.avatar-container {
  position: absolute;
  display: flex-inline;
  bottom: 50px;
  left: 30px;
  z-index: 10;
  background: transparent;
}

.developer-info {
  position: absolute;
  width: 12rem;
  bottom: 5px;
  left: 50px;
  color: white;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 5px;
  z-index: 10;
  /* white-space: nowrap; */
}

.carousel:hover, .carousel2:hover {
  cursor: pointer;
  animation-play-state: paused;
}

.box:hover .developer-info {
  opacity: 1;
  transition: opacity 0.4s ease-in-out 1s;
}


@media screen and (max-width: 768px) {

  .carousel,
  .carousel2 {
    animation-duration: 30s; 
  }

  .avatar-container {
    bottom: 20px; 
  }

  .developer-info {
    left: 20px; 
    font-size: 14px; 
  }

  .carousel-image, .carousel-video {
    max-height: 200px; 
  }

  .box {
    height: 200px; 
    width: auto; 
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .carousel-container {
    padding-top: 10px; 
  }

  .content {
    padding: 15px; 
  }

  .carousel,
  .carousel2 {
    animation-duration: 40s; 
  }

  .avatar-container {
    left: 40px; 
  }

  .developer-info {
    font-size: 16px; 
  }

  .carousel-image, .carousel-video {
    max-height: 200px; 
  }

  .box {
    height: 250px; 
    width: auto; 
  }
}

