.Rating:hover::after {
    content: attr(rating-value);
    position: absolute;
    transform: translate(-100%, 0);
}

@keyframes Slidin {
    from {
        transform: translate(-50%, 0);
        opacity: 0;
    }
    to {
        transform: translate(-100%, 0);
        opacity: 1;
    }
}

.FirstPlaceShadow {
    box-shadow: 0px 0px 100px 10px #FFFF0055;
}