/* body {
  padding: 10px;
  padding: 0;
  background-color: black;
  position: relative;
} */

/* body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/images/Vector\ 1361.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  filter: blur(5px); 
  opacity: 0.5; 
  z-index: -1;
} */


/* .game-page {
  margin-top: 10px;
  display: flex;
  padding: 30px;
  margin-left: 20px;
} */


.video-game-wrapper {
  display: flex;
  justify-content: space-between;
  width: auto;
  height: auto;
  border-radius: 50%;
}

.video-card {
  flex: 1;
  /* background-image: linear-gradient(to right, rgba(17, 3, 3, 0.518), rgba(14, 5, 5, 0.523)); */
  /* border-radius: 20px; */
  padding: 10px;
  /* box-shadow: 0 4px 8px rgba(67, 15, 15, 0.7); */
  width: auto;
  height: fit-content;
  align-items: center;
}

.game-Info {
  flex: 1;
  /* background-image: linear-gradient(to right, rgba(17, 3, 3, 0.518), rgba(14, 5, 5, 0.523)); */
  /* border-radius: 20px; */
  padding: 8px;
  /* box-shadow: 0 4px 8px rgba(67, 15, 15, 0.7); */
  width: auto;
  color: white;
}

.game-info .thumbnail img {
  padding: 0;
  width: 100%; 
  height: auto; 
  border-radius: 20px 20px 0 0 ;
}

.buttons {
  align-items: center;
}

button {
  /* background-image: linear-gradient(to right, rgba(240, 240, 240, 0.3), rgba(100, 100, 100, 0.5));
  flex-wrap: wrap;
  padding: 10px 10px 10px 10px;
  margin: 5px;
  background-color: blue;
  color: antiquewhite;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; */
  @apply px-2 py-1 duration-200 text-lg bg-[#202020] rounded-md hover:bg-[#fdb714] hover:text-black;
}

button:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(60, 6, 6, 0.2);
}

/* .like-symbol,
.comment-symbol {
  font-size: 15px;
} */


.carousel-container {
  position: relative;
  /* width: 100%; */
  height: 80vh;
  overflow-y: scroll;
}

.carousel-wrapper {
  display: flex;
  flex-direction: column;
  scroll-snap-type: y mandatory;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: thin;
}

.carousel-container::-webkit-scrollbar {
  display: none;
}

.carousel {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  scroll-snap-type: y mandatory;
  width:fit-content;
}

.carousel-item {
  scroll-snap-align: start;
  flex: 0 0 auto;
  width: fit-content;
  margin-bottom: 5px;
  position: relative;
}

.carousel-item img {
  margin-bottom: 5px;
  transition: transform 0.3s ease-in-out;
  z-index: 1;
}

/* .carousel-item span {
  position: absolute;
  top: 50%;
  left: 49%;
  width: 95%;
  height: 100%;
  transform: translate(-50%, -50%);
  opacity: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3));
  color: white;
  transition:  0.3s ease-in-out;
  
} */

.carousel-item:hover img {
  /* transform: scale(2) ; */
  border:2px solid purple;
  cursor: pointer;
  position: relative;
  z-index: 2;
  margin-bottom: 0;
  margin-right: -40px;
}

/* .carousel-item:hover span {
  font-size: 14px;
  opacity: 1;
  z-index: 999;
} */


@media (max-width: 800px) {
  .game-page {
    display: block;
    padding: 10px;
    margin-left: 10px;
  }
  .video-game-wrapper{
    display: block;
  }

  .video-card {
    margin: 5px;
    width: auto; 
    height: auto;
  }

  .game-info {
    margin: 5px;
    width: auto; 
    height: auto;
  }

  button {
    padding: 8px 15px;
    margin: 5px;
    margin-left: 10px;
  }
}
