.game-section-top{
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('/images/games_section_bg_illustration.jpg');
  /* Following tag can be used for attributing the creator of the image
  <a href="https://www.freepik.com/free-vector/abstract-red-circle-black-background-technology_32996404.htm#fromView=search&term=website+background&track=ais&regularType=vector&page=1&position=29&uuid=64627bbf-4df9-473a-a346-8e5dfc1e52f5">Image by flatart</a> on Freepik */
  background-position: center;
  background-color: rgba(0,0,0,1);
  border-radius: 1rem;
}

.video-game-wrapper {
  display: flex;
  justify-content: space-between;
  width: auto;
  height: auto;
  border-radius: 50%;
}

.video-card {
  flex: 1;
  width: auto;
  height: fit-content;
  align-items: center;
}

.thumbnail-container {
  flex: 1;
  width: auto;
  color: white;
}

.thumbnail img {
  padding: 0;
  width: 100%;
  height: auto;
  border-radius: 20px 20px 0 0;
}

.buttons {
  align-items: center;
}

button {
  @apply px-2 py-1 duration-200 text-lg bg-[#202020] rounded-md hover:text-black;
}

button:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(60, 6, 6, 0.2);
}

.carousel-container {
  position: relative;
  height: 80vh;
  overflow-y: scroll;
}

.carousel-wrapper {
  display: flex;
  flex-direction: column;
  scroll-snap-type: y mandatory;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: thin;
}

.carousel-container::-webkit-scrollbar {
  display: none;
}

.g-carousel {
  margin-top: 5px;
  display: flex;
  flex-direction: column; /* Change to horizontal */
  scroll-snap-type: y mandatory; /* Change to horizontal */
  width: fit-content;
}

.carousel-item {
  scroll-snap-align: start;
  flex: 0 0 auto;
  width: fit-content;
  margin-bottom: 5px; /* Change to horizontal */
  position: relative;
}

.carousel-item img {
  margin-right: 5px; /* Change to horizontal */
  transition: transform 0.3s ease-in-out;
  z-index: 1;
}

.carousel-item:hover img {
  border: 2px solid purple;
  cursor: pointer;
  position: relative;
  z-index: 2;
  margin-bottom: 0;
  margin-right: 0; /* Change to horizontal */
}

@media (max-width: 480px) {
  .game-section-top {
    display: block;
    padding: 10px;
    margin-left: 10px;
  }

  .video-game-wrapper {
    display: block;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse; /* Reversing the sequence */
  }

  .thumbnail-container {
    margin: 5px;
    width: 100%;
    height: auto;
  }

  .video-card {
    margin: 5px;
    width: 100%;
    height: 100%;
  }

  .g-carousel {
    margin-top: 5px;
    display: flex;
    flex-direction: row; /* Change to horizontal */
    scroll-snap-type: x mandatory; /* Change to horizontal */
    width: fit-content;
  }

  .carousel-container {
    overflow-x: auto;
    white-space: nowrap;
  }

  .carousel-item {
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
  }

  .carousel-item img {
    width: 120px;
    height: 100px;
    border-radius: 12px;
  }
}

@media (min-width: 481px) and (max-width: 800px) {
  .game-section-top {
    display: block;
    padding: 10px;
    margin-left: 10px;
    height: fit-content;
  }

  .video-game-wrapper {
    display: block;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse; /* Reversing the sequence */
  }

  .thumbnail-container {
    margin: 5px;
    width: 100%;
    height: auto;
  }

  .video-card {
    margin: 5px;
    width: 100%;
    height: 100%;
  }

  .g-carousel {
    margin-top: 5px;
    display: flex;
    flex-direction: row; /* Change to horizontal */
    scroll-snap-type: x mandatory; /* Change to horizontal */
    width: fit-content;
  }

  .carousel-container {
    overflow-x: auto;
    white-space: nowrap;
  }

  .carousel-item {
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
  }

  .carousel-item img {
    width: 150px;
    height: 100px;
  }
}
