@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer components {

    @keyframes cardShuffleIn {
        0% { margin-left: -16.667%; }
        100% { margin-left: -4%; }
    }

    .Card {
        width: 16.667%;
        min-width: theme('minWidth.min');
        padding: 0.1%;
        margin-left: -4%;
        /* border-radius: theme('borderRadius.xl'); */
        box-shadow: theme('boxShadow.2xl');
        background: linear-gradient(to bottom, #23141ddc, #ff5f1f6e);
        border-radius: 10px;
        z-index: 0;
    }

    .Card:hover {
        scale: theme('scale.110');
        transition-duration: theme('transitionDuration.500');
    }


    .Card:hover ~ .Card {
        transform: translateX(25%);
        transition-duration: theme('transitionDuration.500');
    }

    .CardBGClip {
        clip-path: polygon(
            0 0, 
            100% 0, 
            100% 100%, 
            0 85%
            );
    }

    .Card:first {
        margin-left: 0px;
    }

    .WrapperTimeline {
    }

    .Achievement-detail {
        color: white;
        background-color: #0e081f;
        width: 33%;
        margin-left: 10%;
        border-radius: 5vh;
        padding: 2%;
        padding-left: 2%;
        clip-path: polygon(
            0% 0%,
            75% 0%,
            100% 50%,
            75% 100%,
            0% 100%
            );
        /* border-top: 1px solid white; */
        /* border-bottom: 1px solid white; */
    }

    .Achievement:nth-child(odd) .Achievement-detail {
        margin-left: auto;
        margin-right: 10%;
        clip-path: polygon(
            25% 0%,
            0% 50%,
            25% 100%,
            100% 100%,
            100% 0%
            );
    }

    .Achievement-time {
        color: rgb(200, 200, 200);
        position: absolute;
        left: 53%;
        bottom: 50%;
        transform: translateY(50%);
    }

    .Achievement:nth-child(odd) .Achievement-time {
        right: 55%;
        left: auto;
    }

    .Timeline {
        position: relative;
    }

    .Timeline::before {
        content: '';
        position: absolute;
        left: 50%;
        transform : translateX(-50%);
        height: 150%;
        width: 4px;
        background: white;
    }

    .Achievement {
        margin-top: 5%;
        position: relative;
    }
}
