@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;

    --card-highlight: 147, 177, 166;
    --card-foreground: 92, 131, 161;
    --card-background-primary: 4, 13, 18;
    --card-background-secondary: 24, 61, 61;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;

        --card-highlight: 147, 177, 166;
        --card-foreground: 92, 131, 161;
        --card-background-primary: 4, 13, 18;
        --card-background-secondary: 24, 61, 61;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
        to bottom,
        transparent,
        rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
}

@layer components {

    @keyframes cardShuffleIn {
    0% { margin-left: -16.667%; }
    100% { margin-left: -4%; }
    }

    @import '../externalCSS/achievement-timeline.css';
    @import '../externalCSS/about-us-card.css';

    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
     /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
}
