@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer components{

    @keyframes cardShuffleIn {
        0% { margin-left: -16.667%; }
        100% { margin-left: -4%; }
    }

    .Card{
        width: 16.667%;
        min-width: theme('minWidth.min');
        padding: 0.1%;
        margin-left: -4%;
        /* border-radius: theme('borderRadius.xl'); */
        box-shadow: theme('boxShadow.2xl');
        background: linear-gradient(to bottom, #23141D, #FF5F1F);
        border-radius: 10px;
        z-index: 0;
    }

    .Card:hover {
        scale: theme('scale.110');
        transition-duration: theme('transitionDuration.500');
    }

    .Shiny::before {
      content: "";
      opacity: 0;
      position: absolute;
      width: 10%;
      height: 40%;
      background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
      transition: 0.3s;
      filter: blur(0px);
      scale: theme('scale.100');
      overflow: hidden;
    }
    .Shiny:hover::before {
      scale: theme('scale.100');
      overflow: hidden;
      top: 0;
      left: 0;
      opacity: 100;
      transform:skewX(45deg) translate(200px);
    }


    .Card:hover ~ .Card {
        transform: translateX(25%);
        transition-duration: theme('transitionDuration.500');
    }

    .CardBGClip
    {
        clip-path: polygon(
            0 0, 
            100% 0, 
            100% 100%, 
            0 85%
            );
    }

    .Card:first
    {
        margin-left: 0px;
    }
}
