/* GameDesignDetails.css */

/* .game-design-details {
    color: white;
    background-clip: padding-box;
    backdrop-filter: blur(5px);
  } */
  
  /* .grid {
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); */

/*   
  .section-content {
    margin: 20px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 8px;
  }

  .section-content:hover {
    transform: scale(1.03);
    box-shadow: 5px 5px 5px white;
  }
   */
  
  
  

  