
.outer_c{
    display: flex;
    align-items: center;
    justify-content: center;
}
.con{
    width: 90%;
}

@-webkit-keyframes scroll_1 {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(250px * 3));
    }
}

@keyframes scroll_1 {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(250px * 3));
    }
}



.slider_1 {
    background:"" ;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
    margin: 5rem 0px;
}

.slider_1::before,
.slider_1::after {
    background: linear-gradient(to right, #0f172a 0%, rgba(0, 0, 0, 0) 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
}

.slider_1::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.slider_1::before {
    left: 0;
    top: 0;
}

.slider_1 .slide-track {
    -webkit-animation: scroll_1 20s linear infinite;
    animation: scroll_1 20s linear infinite;
    display: flex;
    width: calc(250px * 6);
}

.slider_1 .slide {
    height: 100px;
    width: 250px;
    background: #1e293b;
    margin: 0px 50px;
    padding: 10px;
    display: inline-block;
}
.slider_1 .slide img{
    height: 80px;
    width: 230px;
    background:#111827;
    display: block;
}



@-webkit-keyframes scroll_2 {
    0% {
        transform: translateX(calc(-250px * 7));
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes scroll_2 {
    0% {
        transform: translateX(calc(-250px * 7));
    }

    100% {
        transform: translateX(0);
    }
}

.slider_2 {
    background: #000;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.slider_2::before,
.slider_2::after {
    background: linear-gradient(to right, black 0%, rgba(0, 0, 0, 0) 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
}

.slider_2::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.slider_2::before {
    left: 0;
    top: 0;
}

.slider_2 .slide-track {
    -webkit-animation: scroll_2 40s linear infinite;
    animation: scroll_2 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
}

.slider_2 .slide {
    height: 100px;
    width: 250px;
}

@media screen and (max-width: 768px){
    .slider_1 .slide,
    .slider_2 .slide{
        height: 50px;
        width: 100px;
    }



}

