body {
    align-items: center;
    background: #fff;
    height: 100vh;

}
.outer_c{
    display: flex;
    align-items: center;
    justify-content: center;
}
.con{
    width: 80%;
}

@-webkit-keyframes scroll_1 {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-300px * 3));
    }
}

@keyframes scroll_1 {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-300px * 3));
    }
}



.slider_1 {
    background: #1e293b;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: 250px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
    margin: 3rem 0px;
    padding: 25px auto;
}

.slider_1::before,
.slider_1::after {
    /* background: linear-gradient(to right, black 0%, rgba(0, 0, 0, 0) 100%); */
    content: "";
    height: 200px;
    position: absolute;
    width: 200px;
    z-index: 2;
}

.slider_1::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.slider_1::before {
    left: 0;
    top: 0;
}

.slider_1 .slide-track {
    /* -webkit-animation: scroll_1 40s linear infinite;
    animation: scroll_1 40s linear infinite; */
    display: flex;
    width: calc(300px * 4);
}

.slider_1 .slide {
    height: 200px;
    width: 300px;
    background: #0f172a;
    margin: 25px 50px;
    padding: 30px;
    box-shadow: 7.6px 7.6px 7.6px #3b82f6;
}
.slider_1 .slide img{
    height: 100px;
    width: 220px;
    margin: auto;
    background: #000;
}
.slider_1 .slide .sponser_name{
    display: block;
    font-weight: bold;
    font-size: 17px;
}


@media screen and (max-width: 768px){
    .slider_1 .slide-track {
        -webkit-animation: scroll_1 40s linear infinite;
        animation: scroll_1 40s linear infinite;
    }
    .slider_1 .slide{
        height: 200px;
        width: 250px;
    }

}

