  
  .design-page {
      padding: 20px;
      justify-content: center;
      align-items: center;
      background: #222;
      box-sizing: border-box;
    }
    
    .design-page h1 {
      margin: 10px;
      color: yellow;
    }
    
    .image-gallery {
  
        width: 1220px;
        margin: 20px auto;
        columns: 4;
        column-gap: 10px;
  } 
  
  .video-gallery {
    width: 1220px;
    margin: 10px auto;
    columns: 3;
    column-gap: 10px;
  }
  
    
    .image-gallery>.item img, 
    .video-gallery>.video-item video {
  
      max-width: 100%;
      border-radius: 15px;
      transition: 0.3s ease-in-out;
    }
    
  
  .item, .video-item {
    position: relative;
    background: #222;
    break-inside: avoid;
    margin-bottom: 10px;
    width: 100%;
  }
  
  .overlay {
    position: absolute;
    bottom: 0;
    width: 95%;
    padding: 10px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
  }
  
  
  .developer-info {
    display: flex;
    align-items: center;
    position: relative;
    left: 10px;
    background: transparent;
    color: white;
  }
  
  .developer-info span {
    margin-left: 8px;
    background: transparent;
  }
  
  .title,
  .icons, .description {
    background: transparent;
    color: white;
    font-size: 20px;
    font-weight: bold;
    opacity: 0;
    transition: 0.3s ease-in-out;
  }
  
  .content>.description {
    font-size: 12px;
    font-weight: lighter;
  }
  
  .icons > span, .read-more {
    cursor: pointer;
  }
  
  .read-more {
    font-weight: 700;
    color: aquamarine;
  }
  
  
  .like-icon,
  .share-icon {
    background: transparent;
    display: block;
    color: white;
    cursor: pointer;
    margin-top: 5px;
  }
  
  .like-icon, .share-icon {
    display: flex;
    align-items: center;
    gap: 5px; 
  }
  
  .like-count, .share-count {
    background: transparent;
    color: white;
    font-size: 14px;
  }
  
  .like-icon:hover .like-count,
  .like-icon:hover, .share-icon:hover  {
    color: aquamarine;
  }
  
  .item:hover .description, .video-item:hover .description {
  opacity: 1;
  animation: fade-out 5s ;
}

.description {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.overlay:hover .description {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

  
    
  .item:hover img, .video-item:hover video {
      filter: brightness(0.5);
      transform: scale(1.1);
      cursor: pointer;
      z-index: 999;
  
    }
    
    .item:hover .title,  .item:hover .icons, .item:hover .overlay, 
    .video-item:hover .title,  .video-item:hover .icons, .video-item:hover .overlay {
      transition: 0.3s ease-in-out;
      opacity: 1;
    }
    
    @media (max-width: 768px) {
      .image-gallery {
        width: 1100px;
        margin: 20px auto;
        columns: 3;
      }
  
      .item, .video-item {
        break-inside: avoid;
      }
  
      .video-gallery {
        width: 1100px;
        margin: 20px auto;
        columns: 2;
      }
  
      .overlay{
        opacity: 1;
      }
    }
    
    @media (max-width: 480px) {
      .image-gallery {
        width: 100%;
        max-width: 400px; 
        margin: 20px auto;
        columns: 2;
      }
  
      .video-gallery {
        width: 100%;
        max-width: 400px; 
        margin: 20px auto;
        columns: 1;
      }
  
      .overlay{
        opacity: 1;
      }
    }
  
    /* ---------------------------------------------------------------------------------------------------------------------------- */
    
   
    
    
   
    
      
