.design-section-top{
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('/images/games_section_bg_illustration.jpg');
  /* Following tag can be used for attributing the creator of the image
  <a href="https://www.freepik.com/free-vector/abstract-red-circle-black-background-technology_32996404.htm#fromView=search&term=website+background&track=ais&regularType=vector&page=1&position=29&uuid=64627bbf-4df9-473a-a346-8e5dfc1e52f5">Image by flatart</a> on Freepik */
  background-position: center;
  background-color: rgba(0,0,0,1);
  border-radius: 1rem;
  height: fit-content;
}

.video-design-wrapper {
  display: flex;
  justify-content: space-between;
  border-radius: 50%;
}

.des-video-card {
  flex: 3;
  width: auto;
  height: auto;
  align-items: center;
}

.des-video-card video {
  width: 100%;
  height: 40%;
  object-fit: cover;
  border-radius: 15px;
}


.des-thumbnail-container {
  flex: 1;
  width: auto;
  color: white;
}

.des-thumbnail img, .des-thumbnail video {
  padding: 0;
  width: auto;
  height: auto;
  border-radius: 20px 20px 0 0;
}

.des-buttons {
  align-items: center;
}

button {
  @apply px-2 py-1 duration-200 text-lg bg-[#202020] rounded-md hover:bg-[#fdb714] hover:text-black;
}

button:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(60, 6, 6, 0.2);
}

.des-carousel-container {
  position: relative;
  height: auto;
  overflow-y: scroll;
}

.des-carousel-wrapper {
  display: flex;
  flex-direction: column;
  scroll-snap-type: y mandatory;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: thin;
}

.des-carousel-container::-webkit-scrollbar {
  display: none;
}

.des-carousel {
  margin-top: 5px;
  display: flex;
  flex-direction: column; 
  scroll-snap-type: y mandatory; 
  width: fit-content; 
}

.des-carousel-item {
  scroll-snap-align: start;
  flex: 0 0 auto;
  width: 150px;
  height: 100px; 
  margin-bottom: 5px;
  position: relative;
  overflow: hidden;
}

.des-carousel-item img, .des-carousel-item video {
  width: 100%;
  height: 100%; 
  border-radius: 12px;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
  z-index: 1;
}

.des-carousel-item:hover img, .des-carousel-item:hover video {
  border: 2px solid purple;
  cursor: pointer;
  position: relative;
  z-index: 2;
  margin-bottom: 0;
  margin-right: 0; 
}

@media (max-width: 480px) {
  .design-section-top {
    display: block;
    padding: 10px;
  }

  .video-design-wrapper {
    display: block;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse; 
  }

  .video-item video{
    width: 100%;
    height: 40%; 
    border-radius: 15px;
    object-fit: cover;
  }

  .des-thumbnail-container {
    margin: 5px;
    width: 100%;
    height: 40%;
  }

  .des-thumbnail img,
  .des-thumbnail video {
    width: auto;
    height: 40%; 
  }

  .des-video-card {
    margin: 5px;
    width: 100%;
    height: 40%;
  }

  .des-carousel {
    margin-top: 5px;
    display: flex;
    flex-direction: row; 
    scroll-snap-type: x mandatory; 
    width: fit-content;
  }

  .des-carousel-container {
    overflow-x: auto;
    white-space: nowrap;
  }

  .des-carousel-item {
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
  }

  .des-carousel-item img, .des-carousel-item video {
    width: 120px;
    height: 100px;
    border-radius: 12px;
  }

  
}

@media (min-width: 481px) and (max-width: 800px) {
  .design-section-top {
    display: block;
    padding: 10px;
    margin-left: 10px;
    height: fit-content;
  }

  .video-design-wrapper {
    display: block;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse; 
  }

  .des-thumbnail-container {
    margin: 5px;
    width: 100%;
    height: fit-content;
  }

  .des-video-card {
    margin: 5px;
    width: 100%;
    height: fit-content;
  }

  .video-item video{
    width: 100%;
    height: 30%; 
    border-radius: 15px;
    object-fit: cover;
  }

  .des-carousel {
    margin-top: 5px;
    display: flex;
    flex-direction: row; 
    scroll-snap-type: x mandatory; 
    width: fit-content;
    height: fit-content;
  }

  .des-carousel-container {
    overflow-x: auto;
    white-space: nowrap;
  }

  .des-carousel-item {
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
  }

  .des-carousel-item img, .des-carousel-item video {
    width: 150px;
    height: 100px;
  }
}
